# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Distribution / Packaging
dist/
build/
*.spec
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Mac OS
.DS_Store

# Logs
*.log
logs/
Emilia.ico
.Emilia.ico
